<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebServiceTesting">		
	
    <test name="API Tests - Version 1">
		
        <classes>
            <class name="v1.Get.api.GetMeasurementDataById" />
            <class name="v1.Get.api.GetMeasurementDatabyRange" />
            <class name="v1.Get.api.GetMeasurementDataBySku" />
            <class name="v1.Get.api.LatestMeasurementImage" />
            <class name="v1.Get.api.ListMeasurementIDandDates" />
            <class name="v1.Get.api.MeasurementImagebyID" />
			</classes>
		</test>
		
		    <test name="API Tests - Version 2">
		
        <classes>
            <class name="v2.Get.api.GetMeasurementDataById" />
            <class name="v2.Get.api.GetMeasurementDatabyRange" />
            <class name="v2.Get.api.GetMeasurementDataBySku" />
            <class name="v2.Get.api.LatestMeasurementImage" />
            <class name="v2.Get.api.ListMeasurementIDandDates" />
            <class name="v2.Get.api.MeasurementImagebyID" />
			</classes>
		</test>

    	<test name="API Tests - Version 3">
		
        <classes>
			
			<class name="v3.Get.api.GetAllMeasurementDatabySKU" />
            <class name="v3.Get.api.GetMeasurementDataById" />
            <class name="v3.Get.api.GetMeasurementDatabyRange" />
            <class name="v3.Get.api.GetMeasurementDataBySku" />
            <class name="v3.Get.api.LatestMeasurementImage" />
            <class name="v3.Get.api.ListMeasurementIDandDates" />
            <class name="v3.Get.api.MeasurementImagebyID" />
             <class name="v3.Get.api.GetMeasurementArtifactImage" />
             <class name="v3.Get.api.DownloadMeasurementArtifactImages" />


            
			</classes>
		</test>
		
		
</suite> <!-- WebServiceTesting -->
